@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.container--sections {
  display: flex;
  flex-direction: column;
}

/* Left Section */
.container__info-sec {
  width: 30%;
  padding-top: 3em;
  padding-inline: 3em;
  background-color: #ddd9d924;
}
.container__info-sec h4 {
  font-size: 1.4em;
  color: rgb(8, 68, 117);
}
.container__info-sec h4 i {
  padding-right: 10px;
}
.container__info {
  padding-top: 1em;
  color: rgba(114, 112, 112, 0.815);
  line-height: 1.5;
}
.container__list {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-top: 3em;
  color: rgb(8, 68, 117);
  list-style: none;
  cursor: default;
}
.container__list i {
  padding-right: 10px;
  position: relative;
}
.container__list li:nth-child(1)::after,
.container__list li:nth-child(2)::after,
.container__list li:nth-child(3)::after,
.container__list li:nth-child(4)::after {
  content: "";
  position: absolute;
  left: 3.6%;
  display: flex;
  flex-direction: column;
  width: 1px;
  height: 28px;
  background-color: rgba(114, 112, 112, 0.815);
}
.container__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
  padding-bottom: 2em;
}
.container__contact,
.container__contact i {
  text-decoration: underline;
  cursor: pointer;
}
.container__footer div {
  color: rgba(114, 112, 112, 0.815);
}

/* Right Section */
.container__login-sec {
  margin-inline: auto;
}
.container__login-sec h3 {
  color: rgb(8, 68, 117);
}
.container__radio {
  padding-block: 1.5em;
}
.container__login-sec label {
  color: rgb(8, 68, 117);
}
.container__form p {
  padding-top: 0.3em;
  padding-bottom: 3em;
  color: rgba(114, 112, 112, 0.815);
}
.container__form input {
  width: 100%;
  height: 35px;
  margin-block: 0.5em;
  padding-inline: 0.5em;
  border: 1px #bbb solid;
  border-radius: 0.3rem;
}
.container__form input:focus {
  border: none;
  outline: solid 2px rgb(33, 150, 243);
}
.container__login-btn {
  width: 100%;
  height: 2.5em;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  border-radius: 0.3rem;
  border: none;
  background-color: rgb(33, 150, 243);
  color: white;
  cursor: pointer;
}
.container__login-btn:hover {
  background-color: rgb(15, 129, 223);
  box-shadow: 5px 5px 5px rgb(227, 223, 223);
}
.container__link {
  text-align: center;
  padding-block: 0.5em;
}
.container__link a {
  color: rgb(8, 68, 117);
}
