@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.container__info-sec{
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-top: 3em;
  padding-inline: 2em;
  background-color: #ddd9d924;
}
.container__info-sec h4{
  font-size: 1.4em;
}
.container__info-sec i{
  padding-right: 10px;
}
.container__info{
  padding-top: 1em;
  color: rgb(114, 112, 112);
}
.container__list{
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding-top: 3em;
  list-style: none;
}
.container__list i{
  padding-right: 10px;
}
.container__footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
  padding-bottom: 3em;
}
.container__login-sec{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}